<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blockchain.morph.ui">

    <application>
        <activity
            android:name=".detail.TradeDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".homebrew.exchange.history.TradeHistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".homebrew.exchange.locked.ExchangeLockedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".homebrew.exchange.detail.HomebrewTradeDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".homebrew.exchange.host.HomebrewNavHostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
    </application>

</manifest>