<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="piuk.blockchain.androidcoreui">

    <application>
        <activity
            android:name="com.blockchain.ui.chooser.AccountChooserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>
